In [7]:
import pandas as pd 
exam1 = pd.read_csv("../data/연습문제/Rabbit_Five.csv", encoding="CP949")

from scipy.stats import ttest_rel

BP_change = exam1["BP_change"]
Treatment = exam1["Treatment"]

print(exam1.head(3))
print(Treatment.value_counts())


BPC_treat = BP_change[Treatment == "MDL"].reset_index(drop=True)
BPC_control = BP_change[Treatment == "Control"].reset_index(drop=True)

diff_avg = (BPC_treat - BPC_control).mean()
diff_avg = round(diff_avg, 2)
print(diff_avg)

   BP_change   Dose Treatment lbl_Animal
0        0.5   6.25   Control         R1
1        4.5  12.50   Control         R1
2       10.0  25.00   Control         R1
Treatment
Control    30
MDL        30
Name: count, dtype: int64
-4.68

In [15]:
a = ttest_rel(BPC_treat, BPC_control)

print(a.statistic)
print(a.pvalue)

-3.6691820392905843
0.0009743112823987295

In [29]:
# 2 
import pandas as pd
exam2 = pd.read_csv("../data/연습문제/mtcars2.csv", encoding="CP949")

from scipy.stats import f

am = exam2["am"]
hp = exam2['hp']

exam2.head()
hp_manual = hp[am == 1].reset_index()
hp_auto = hp[am == 0].reset_index()

var_ratio = hp_manual.var() / hp_auto.var()

round(var_ratio, 2)

index    2.90
hp       2.43
dtype: float64

In [34]:
stat = var_ratio
print(stat)

# 자유도 
df1, df2 = len(hp_manual) - 1, len(hp_auto) - 1

print(df1)
print(df2)

pval = 1 - f.cdf(stat, dfn= df1, dfd = df2)
pval

index    2.898387
hp       2.431606
dtype: float64
12
18

array([0.02040084, 0.04311065])

In [58]:
import pandas as pd 
exam3 = pd.read_csv("../data/연습문제/고객_등급리스트.csv", encoding="CP949")

# exam3.head()
# exam3.info()

from scipy.stats import chi2_contingency 
display(exam3.sample())

tb = pd.crosstab(exam3["Segment"], exam3["Region"])


# chi2, pval, df, expected = chi2_contingency(tb)
result = chi2_contingency(tb)
print(result)

expected = result[3]
a = expected[1, 2]
print(a)

b = result[0]
int(b)

c = result[1]
print(c)
# print(chi2, pval, df, expected)

,Customer_ID,ID,Name,Age,City,State,Region,Segment
139,NaN,15850,John Lucas,7*,Philadelphia,Pennsylvania,East,Consumer

Chi2ContingencyResult(statistic=9.488312197551783, pvalue=0.1479205256846858, dof=6, expected_freq=array([[46.76571429, 56.33142857, 27.10285714, 55.8       ],
       [27.15428571, 32.70857143, 15.73714286, 32.4       ],
       [14.08      , 16.96      ,  8.16      , 16.8       ]]))
15.737142857142857
0.1479205256846858

In [66]:
#4
import pandas as pd
exam4 = pd.read_csv("../data/연습문제/Cars93.csv", encoding="CP949")

from scipy.stats import shapiro

price = exam4["Price"].dropna().copy()

avg = price.mean()

a = shapiro(price)
a

ShapiroResult(statistic=0.8547777808132934, pvalue=1.3730535802761666e-07)

In [71]:
# 5
import pandas as pd
import numpy as np 
exam5 = pd.read_csv("../data/연습문제/Cars93.csv")

Horsepower = exam5["Horsepower"]
RPM = exam5["Rev_per_mile"]

from scipy.stats import pearsonr 

rho, pval = pearsonr(Horsepower, RPM)
stats = rho / np.sqrt((1 - rho ** 2) / (len(Horsepower) - 2))
print(stats)

pval

-5.542975578017778

2.877085007188918e-07

In [87]:
import pandas as pd 
exam6 = pd.read_csv("../data/연습문제/USArrests.csv")
display(exam6.head())
# display(exam6.isnull().sum())

from sklearn.decomposition import PCA

pca = PCA(n_components = 4)
pca.fit_transform(exam6)

pca.components_.T

# result = {
#   "분산기여율": pca.explained_variance_ratio_, 
#   "누적기여율": pca.explained_variance_ratio_.cumsum()
# }

# pd.DataFrame(result, index=["PCA1", "PCA2", "PCA3", "PCAr"]).T

   Murder  Assault  UrbanPop  Rape
0    13.2      236        58  21.2
1    10.0      263        48  44.5
2     8.1      294        80  31.0
3     8.8      190        50  19.5
4     9.0      276        91  40.6

array([[ 0.04170432, -0.04482166,  0.07989066,  0.99492173],
       [ 0.99522128, -0.05876003, -0.06756974, -0.0389383 ],
       [ 0.04633575,  0.97685748, -0.20054629,  0.05816914],
       [ 0.0751555 ,  0.20071807,  0.97408059, -0.07232502]])

In [16]:
# 연습문제 1 

import pandas as pd 
exam1 = pd.read_csv("../data/연습문제/Rabbit_Five.csv")

print(exam1.head())

exam1["Treatment"].value_counts()

# 1 
BP_change = exam1["BP_change"]
Treatment = exam1["Treatment"]

BPC_Treat = BP_change[Treatment == "MDL"].reset_index(drop=True)
BPC_Control = BP_change[Treatment == "Control"].reset_index(drop=True)

avg = (BPC_Treat - BPC_Control).mean()
print(round(avg, 2))

# 2. 
from scipy.stats import ttest_rel

a = ttest_rel(BPC_Treat, BPC_Control)
print(a.statistic)

# 3. 
print(a.pvalue)

   BP_change    Dose Treatment lbl_Animal
0        0.5    6.25   Control         R1
1        4.5   12.50   Control         R1
2       10.0   25.00   Control         R1
3       26.0   50.00   Control         R1
4       37.0  100.00   Control         R1
-4.68
-3.6691820392905843
0.0009743112823987295

In [33]:
### 연습문제 2 

import pandas as pd 
exam2 = pd.read_csv("../data/연습문제/mtcars2.csv")



am = exam2["am"]
hp = exam2["hp"]

hp_manual = hp[am == 1].reset_index(drop=True)
hp_auto = hp[am == 0].reset_index(drop=True)

var_ratio = hp_manual.var() / hp_auto.var()



# 2. 
from scipy.stats import f 

df1, df2 = len(hp_manual) - 1, len(hp_auto)

stat = var_ratio

pval = 1 - f.cdf(stat, df1, df2)

print(pval)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2

2.431605932653339
0.040469963090568495

In [48]:
### 연습문제 3 

import pandas as pd 

exam3 = pd.read_csv("../data/연습문제/고객_등급리스트.csv")

exam3.head()

from scipy.stats import chi2_contingency
import numpy as np 

exam3["Segment"]
cross = pd.crosstab(exam3["Segment"], exam3["Region"])

chi2, pval, df, expected = chi2_contingency(cross)
print(expected[1, 2])

#2 
print(int(chi2))

#3 
print(round(pval, 3))

15.737142857142857
9
0.148