In [2]:
import pandas as pd 

X_train = pd.read_csv("./data/X_train.csv")
X_test = pd.read_csv("./data/X_test.csv")
y_train = pd.read_csv("./data/y_train.csv")

In [3]:
y_train["income"].value_counts()

income
<=50K    22263
>50K      7041
Name: count, dtype: int64

In [4]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 3.4+ MB

In [9]:
cols = list(X_train.columns[X_train.dtypes != object])[1:]
cols

['age',
 'fnlwgt',
 'education.num',
 'capital.gain',
 'capital.loss',
 'hours.per.week']

In [10]:
X_train[cols].isnull().sum()

age               12
fnlwgt             0
education.num      0
capital.gain       0
capital.loss       0
hours.per.week    13
dtype: int64

In [12]:
X_train.select_dtypes(exclude="object").columns

Index(['id', 'age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss',
       'hours.per.week'],
      dtype='object')

In [13]:
X_train  = X_train.fillna(0)

In [14]:
X_test = X_test.fillna(0)

In [15]:
X_train[cols].isnull().sum()

age               0
fnlwgt            0
education.num     0
capital.gain      0
capital.loss      0
hours.per.week    0
dtype: int64

In [18]:
y = (y_train["income"] == ">50K").astype(int)

In [19]:
X_train[cols]

        age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
0      34.0  177331             10          4386             0            40.0
1      58.0  290661              9             0             0            40.0
2      48.0  125933             10             0          1669            38.0
3      58.0  100313             10             0          1902            40.0
4      41.0  195661             10             0             0            54.0
...     ...     ...            ...           ...           ...             ...
29299  28.0   47168              6             0             0            40.0
29300  44.0  231793             16             0             0            38.0
29301  41.0  201435              9             0             0            40.0
29302  43.0  137722              9             0             0            40.0
29303  22.0  406978             13             0             0            40.0

[29304 rows x 6 columns]

In [22]:
### 머신러닝 모델 

### 랜덤포레스트 

from sklearn.ensemble import RandomForestClassifier 

rf = RandomForestClassifier()
rf.fit(X_train[cols], y)
pred = rf.predict(X_test[cols])

pred

array([0, 0, 0, ..., 0, 0, 0])

In [23]:
pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [28]:
len(pred)
len(y_train)
submit = pd.DataFrame({
  "id": X_test["id"], 
  "income": pred
})

In [30]:
submit.to_csv("0000.csv", index=False)

In [35]:
from sklearn.metrics import accuracy_score
y_test = pd.read_csv("./data/y_test.csv")
ans = (y_test["income"] == ">50K").astype(int)


accuracy_score(ans, pred)

0.8062634326066933