In [31]:
import pandas as pd

X_train = pd.read_csv("./data_atype/X_train.csv")
y_train = pd.read_csv("./data_atype/y_train.csv")
X_test = pd.read_csv("./data_atype/X_test.csv")

In [32]:
X_train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,3331,34.0,State-gov,177331,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States
1,19749,58.0,Private,290661,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States
2,1157,48.0,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States
3,693,58.0,Private,100313,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States
4,12522,41.0,Private,195661,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States

In [33]:
y_train["income"].value_counts()

income
<=50K    22263
>50K      7041
Name: count, dtype: int64

In [34]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 3.4+ MB

In [35]:
# cols = ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week' ]
cols = list(X_train.columns[(X_train.dtypes == "float64") | (X_train.dtypes == "int64")])[1:]

In [36]:
X_train[cols].describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,29292.000000,2.930400e+04,29304.000000,29304.000000,29304.000000,29291.000000
mean,38.553223,1.897488e+05,10.080842,1093.858722,86.744506,40.434229
std,13.628811,1.055250e+05,2.570824,7477.435640,401.518928,12.324036
min,-38.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.177890e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783765e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370682e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [37]:
X_train[cols].isnull().sum()

age               12
fnlwgt             0
education.num      0
capital.gain       0
capital.loss       0
hours.per.week    13
dtype: int64

In [38]:
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)

In [39]:
X_train[cols].isnull().sum()

age               0
fnlwgt            0
education.num     0
capital.gain      0
capital.loss      0
hours.per.week    0
dtype: int64

In [40]:
y_train

          id income
0       3331   >50K
1      19749  <=50K
2       1157  <=50K
3        693   >50K
4      12522  <=50K
...      ...    ...
29299  15999  <=50K
29300  21604  <=50K
29301  26839  <=50K
29302  16681  <=50K
29303  16069  <=50K

[29304 rows x 2 columns]

In [41]:
y = (y_train["income"] == ">50K").astype(int)
y[:3]

0    1
1    0
2    0
Name: income, dtype: int64

In [42]:
X_train[cols]

        age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
0      34.0  177331             10          4386             0            40.0
1      58.0  290661              9             0             0            40.0
2      48.0  125933             10             0          1669            38.0
3      58.0  100313             10             0          1902            40.0
4      41.0  195661             10             0             0            54.0
...     ...     ...            ...           ...           ...             ...
29299  28.0   47168              6             0             0            40.0
29300  44.0  231793             16             0             0            38.0
29301  41.0  201435              9             0             0            40.0
29302  43.0  137722              9             0             0            40.0
29303  22.0  406978             13             0             0            40.0

[29304 rows x 6 columns]

In [43]:
from sklearn.ensemble import RandomForestClassifier 
rf = RandomForestClassifier() 
rf.fit(X_train[cols], y) 
pred = rf.predict(X_test[cols])

In [44]:
pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [45]:
import pandas as pd
submit = pd.DataFrame({
  "id": X_test["id"], 
  "income": pred
})
submit.to_csv("0000.csv", index=False)

In [46]:
from sklearn.metrics import accuracy_score
y_test = pd.read_csv("./data_atype/y_test.csv")
ans = (y_test["income"] == ">50K").astype(int)
accuracy_score(ans, pred)

0.8062634326066933

In [47]:
from sklearn.model_selection import train_test_split
y = (y_train["income"] == ">50K").astype(int)
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y, test_size=0.1, random_state=2024)
X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((26373, 15), (2931, 15), (26373,), (2931,))

In [48]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_tr[cols], y_tr)
pred = dt.predict_proba(X_val[cols])
pred[:10]

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [51]:
from xgboost import XGBClassifier 
xgb = XGBClassifier()
xgb.fit(X_tr[cols], y_tr)
pred = xgb.predict_proba(X_val[cols])
pred[:10]

array([[8.6678433e-01, 1.3321564e-01],
       [7.0570612e-01, 2.9429388e-01],
       [8.7280786e-01, 1.2719214e-01],
       [6.3873327e-01, 3.6126676e-01],
       [8.6853063e-01, 1.3146935e-01],
       [7.4120718e-01, 2.5879282e-01],
       [9.9441636e-01, 5.5836174e-03],
       [9.9909484e-01, 9.0515154e-04],
       [9.9992204e-01, 7.7979523e-05],
       [8.3400941e-01, 1.6599062e-01]], dtype=float32)