In [1]:
import pandas as pd

X_train = pd.read_csv("./data_atype/X_train.csv")
y_train = pd.read_csv("./data_atype/y_train.csv")
X_test = pd.read_csv("./data_atype/X_test.csv")

In [ ]:
X_train.head()

In [ ]:
y_train["income"].value_counts()

In [ ]:
X_train.info()

In [11]:
# cols = ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week' ]
cols = list(X_train.columns[(X_train.dtypes == "float64") | (X_train.dtypes == "int64")])[1:]

['age',
 'fnlwgt',
 'education.num',
 'capital.gain',
 'capital.loss',
 'hours.per.week']

In [12]:
X_train[cols].describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,29292.000000,2.930400e+04,29304.000000,29304.000000,29304.000000,29291.000000
mean,38.553223,1.897488e+05,10.080842,1093.858722,86.744506,40.434229
std,13.628811,1.055250e+05,2.570824,7477.435640,401.518928,12.324036
min,-38.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.177890e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783765e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370682e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [13]:
X_train[cols].isnull().sum()

age               12
fnlwgt             0
education.num      0
capital.gain       0
capital.loss       0
hours.per.week    13
dtype: int64

In [14]:
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)

In [15]:
X_train[cols].isnull().sum()

age               0
fnlwgt            0
education.num     0
capital.gain      0
capital.loss      0
hours.per.week    0
dtype: int64

In [16]:
y_train

          id income
0       3331   >50K
1      19749  <=50K
2       1157  <=50K
3        693   >50K
4      12522  <=50K
...      ...    ...
29299  15999  <=50K
29300  21604  <=50K
29301  26839  <=50K
29302  16681  <=50K
29303  16069  <=50K

[29304 rows x 2 columns]

In [20]:
y = (y_train["income"] == ">50K").astype(int)
y[:3]

0    1
1    0
2    0
Name: income, dtype: int64

In [21]:
X_train[cols]

        age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
0      34.0  177331             10          4386             0            40.0
1      58.0  290661              9             0             0            40.0
2      48.0  125933             10             0          1669            38.0
3      58.0  100313             10             0          1902            40.0
4      41.0  195661             10             0             0            54.0
...     ...     ...            ...           ...           ...             ...
29299  28.0   47168              6             0             0            40.0
29300  44.0  231793             16             0             0            38.0
29301  41.0  201435              9             0             0            40.0
29302  43.0  137722              9             0             0            40.0
29303  22.0  406978             13             0             0            40.0

[29304 rows x 6 columns]

In [27]:
from sklearn.ensemble import RandomForestClassifier 
rf = RandomForestClassifier() 
rf.fit(X_train[cols], y) 
pred = rf.predict(X_test[cols])

In [29]:
pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [31]:
submit = pd.DataFrame({
  "id": X_test["id"], 
  "income": pred
})
submit.to_csv("0000.csv", index=False)

In [33]:
from sklearn.metrics import accuracy_score
y_test = pd.read_csv("./data_atype/y_test.csv")
ans = (y_test["income"] == ">50K").astype(int)
accuracy_score(ans, pred)

0.8105618667485416

In [36]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=2024)
X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((26373, 15), (2931, 15), (26373, 2), (2931, 2))