In [5]:
# 01. 
# 평균값을 기준으로 3배의 표준편차 이상으로 떨어진 값들의 합을 구하시오 

import pandas as pd
exam1 = pd.read_csv("../data/모의고사/01회/iris.csv")

sepal_width = exam1["Sepal.Width"]

avg = sepal_width.mean() 
sd = sepal_width.std() 

upp = avg + 3 * sd 
low = avg - 3 * sd 

cond = (sepal_width < low) | (sepal_width > upp)

result = sepal_width[cond].sum()
print(result)

sepal_width[cond]

72.29999999999998

5      3.9
14     4.0
15     4.4
16     3.9
18     3.8
19     3.8
32     4.1
33     4.2
41     2.3
44     3.8
46     3.8
53     2.3
57     2.4
60     2.0
62     2.2
68     2.2
80     2.4
81     2.4
87     2.3
93     2.3
117    3.8
119    2.2
131    3.8
Name: Sepal.Width, dtype: float64

In [13]:
# 2. 

import pandas as pd 
exam2 = pd.read_csv("../data/모의고사/01회/mtcars1.csv", encoding="cp949")

exam2.info()

disp = exam2["disp"]

# ascending=False  값이 클 수록 높은 순위 
# method=min 동일한 값이 있을 경우 작은 순위를 할당 
rank = disp.rank(method="min", ascending=False)

rank20 = disp[rank <= 20]

print(rank20)

result = round(rank20.std(), 2)
print(result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 2.9 KB
0     160.0
1     160.0
3     258.0
4     360.0
5     225.0
6     360.0
9     167.6
10    167.6
11    275.8
12    275.8
13    275.8
14    472.0
15    460.0
16    440.0
21    318.0
22    304.0
23    350.0
24    400.0
28    351.0
30    301.0
Name: disp, dtype: float64
97.47

In [15]:
# 3. 

import pandas as pd 
exam3 = pd.read_csv("../data/모의고사/01회/Cars93.csv")

case1 = exam3.shape[0]

case2 = sum(exam3.isnull().sum() != 0)

case3 = sum(exam3.isnull().sum())

colnm_10over = exam3.columns[exam3.isnull().sum() > 10]

sub1 = exam3[colnm_10over].copy() 
case4 = len(sub1.dropna())

rownm_2over =