### [문제] 빅데이터 분석기사 실기 언어 선택에 따라 합격 여부를 조사한 결과이다. 언어와 합격 여부는 독립적인가? 가설검정을 실시하시오. (유의수준 0.05)
-	귀무가설(H0): 언어와 합격 여부는 독립이다.
-	대립가설(H1): 언어과 합격 여부는 독립이지 않다.

- R: 합격 80명, 불합격 20명,
- Python: 합격 90명, 불합격 10명

In [2]:
# 교차표 데이터 프레임

import pandas as pd 

df = pd.DataFrame({
  '합격': [80, 90], 
  '불합격': [20, 10]
}, index = ['R', 'Python'])

from scipy import stats 

stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=3.1764705882352944, pvalue=0.07470593331213068, dof=1, expected_freq=array([[85., 15.],
       [85., 15.]]))

In [4]:
# 데이터 생성
import pandas as pd
data = {
    '언어': ['R']*100 + ['Python']*100,
    '합격여부': ['합격']*80 + ['불합격']*20 + ['합격']*90 + ['불합격']*10
}
df = pd.DataFrame(data)
df

         언어 합격여부
0         R   합격
1         R   합격
2         R   합격
3         R   합격
4         R   합격
..      ...  ...
195  Python  불합격
196  Python  불합격
197  Python  불합격
198  Python  불합격
199  Python  불합격

[200 rows x 2 columns]

In [5]:
pd.crosstab(df["언어"], df["합격여부"])

합격여부    불합격  합격
언어
Python   10  90
R        20  80