In [194]:
###### 연습문제1. 

import pandas as pd 
X_train = pd.read_csv("../data/연습문제/FIFA_X_train.csv", encoding="CP949")
X_test = pd.read_csv("../data/연습문제/FIFA_X_test.csv", encoding="CP949")
y_train = pd.read_csv("../data/연습문제/FIFA_y_train.csv", encoding="CP949")

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)

(3600, 16)
(2400, 16)
(3600, 2)

In [195]:
print(X_train.isnull().sum())
print(X_test.isnull().sum())

ID                        0
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          758
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               292
Weight_lb                72
Release_Clause            0
Wage                      0
dtype: int64
ID                        0
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          509
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [196]:
X_train["Position_Class"].value_counts()
X_train["Position_Class"] = X_train["Position_Class"].fillna("unknown")

In [197]:
X_train["Position_Class"].value_counts()

Position_Class
Defender      1400
Midfielder     790
unknown        758
Forward        652
Name: count, dtype: int64

In [198]:
pd.crosstab(X_train["Position"], X_train["Position_Class"])

Position_Class  Defender  Forward  Midfielder  unknown
Position
CAM                    0        0         212        0
CB                   349        0           0        0
CDM                  178        0           0        0
CF                     0       12           0        0
CM                     0        0           0      295
GK                     0        0           0      391
LAM                    0        0           4        0
LB                   283        0           0        0
LCB                  136        0           0        0
LCM                    0        0          86        0
LDM                   48        0           0        0
LF                     0        0           0        3
LM                     0        0         208        0
LS                     0       42           0        0
LW                     0       71           0        0
LWB                   24        0           0        0
RAM                    0        0           5        0
RB                   263        0           0        0
RCB                  119        0           0        0
RCM                    0        0          65        0
RDM                    0        0           0       44
RF                     0        4           0        0
RM                     0        0         210        0
RS                     0       36           0        0
RW                     0       62           0        0
RWB                    0        0           0       25
ST                     0      425           0        0

In [199]:
# X_train["Position_Class"][X_train["Position"] == "LF"] = "Forward"
PC_train = X_train["Position_Class"].copy()
PC_train[X_train["Position"] == "LF"] = "Forward"
PC_train[X_train["Position"] == "CM"] = "Midfielder"
PC_train[X_train["Position"] == "GK"] = "GoalKeeper"
PC_train[X_train["Position"] == "RDM"] = "Defender"
PC_train[X_train["Position"] == "RWB"] = "Defender"

X_train.isnull().sum()
X_test.isnull().sum()

ID                        0
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          509
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [200]:
PC_test = X_test["Position_Class"].copy()
PC_test[X_test["Position"] == "LF"] = "Forward"
PC_test[X_test["Position"] == "CM"] = "Midfielder"
PC_test[X_test["Position"] == "GK"] = "GoalKeeper"
PC_test[X_test["Position"] == "RDM"] = "Defender"
PC_test[X_test["Position"] == "RWB"] = "Defender"

In [201]:
X_test["Position_Class"] = PC_test
X_test.isnull().sum()

ID                        0
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class            0
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [202]:
X_train.isnull().sum()

ID                        0
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class            0
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               292
Weight_lb                72
Release_Clause            0
Wage                      0
dtype: int64

In [203]:
X_train["Height"]

0        5'8
1        6'0
2        5'9
3       5'10
4       5'10
        ...
3595     6'6
3596    5'10
3597     6'0
3598    5'10
3599    5'10
Name: Height, Length: 3600, dtype: object

In [204]:
Height_train = X_train["Height"].copy()
Height_cm_train = X_train["Height_cm"].copy()

split_str_train = Height_train.str.split("'", expand=True).astype("float64")
Height_cm_train.isnull().sum()
Height_cm_train = Height_cm_train.fillna(split_str_train[0] * 30 + split_str_train[1] * 2.5)
X_train["Height_cm"] = Height_cm_train

In [205]:
Height_test = X_test["Height"].copy()
Height_cm_test = X_test["Height_cm"].copy()

split_str_test = Height_test.str.split("'", expand=True).astype("float64")
Height_cm_test.isnull().sum()
Height_cm_test = Height_cm_train.fillna(split_str_test[0] * 30 + split_str_test[1] * 2.5)
X_test["Height_cm"] = Height_cm_test

In [206]:
X_train.isnull().sum()

ID                       0
Age                      0
Nationality              0
Overall                  0
Club                     0
Preferred_Foot           0
Work_Rate                0
Position                 0
Position_Class           0
Jersey_Number            0
Contract_Valid_Until     0
Height                   0
Height_cm                0
Weight_lb               72
Release_Clause           0
Wage                     0
dtype: int64

In [207]:
X_test.isnull().sum()

ID                      0
Age                     0
Nationality             0
Overall                 0
Club                    0
Preferred_Foot          0
Work_Rate               0
Position                0
Position_Class          0
Jersey_Number           0
Contract_Valid_Until    0
Height                  0
Height_cm               0
Weight_lb               0
Release_Clause          0
Wage                    0
dtype: int64

In [208]:
cond_na = X_train["Weight_lb"].isnull()
X_train.shape
X_train = X_train[~cond_na]
y_train = y_train[~cond_na]

In [209]:
y_train = y_train[~cond_na]

/var/folders/f3/y_01_cpx01zcsklhzncvbvjw0000gn/T/ipykernel_20902/980867124.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  y_train = y_train[~cond_na]

In [210]:
print(y_train.shape)
print(X_train.shape)

(3528, 2)
(3528, 16)

In [211]:
X_train.select_dtypes("object").nunique()

Age                29
Nationality       129
Club              648
Preferred_Foot      2
Work_Rate           9
Position           27
Position_Class      4
Height             20
dtype: int64

In [212]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3528 entries, 0 to 3599
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    3528 non-null   int64
 1   Age                   3528 non-null   object
 2   Nationality           3528 non-null   object
 3   Overall               3528 non-null   int64
 4   Club                  3528 non-null   object
 5   Preferred_Foot        3528 non-null   object
 6   Work_Rate             3528 non-null   object
 7   Position              3528 non-null   object
 8   Position_Class        3528 non-null   object
 9   Jersey_Number         3528 non-null   int64
 10  Contract_Valid_Until  3528 non-null   int64
 11  Height                3528 non-null   object
 12  Height_cm             3528 non-null   float64
 13  Weight_lb             3528 non-null   float64
 14  Release_Clause        3528 non-null   int64
 15  Wage                  3528 non-null   int64
dtypes: float64(2), int64(6), object(8)
memory usage: 468.6+ KB

In [213]:
X_train["Age"]

0       2*
1       29
2       23
3       22
4       18
        ..
3595    23
3596    28
3597    23
3598    33
3599    22
Name: Age, Length: 3528, dtype: object

In [214]:
pd.to_numeric(X_train["Age"], errors='coerce')

0        NaN
1       29.0
2       23.0
3       22.0
4       18.0
        ...
3595    23.0
3596    28.0
3597    23.0
3598    33.0
3599    22.0
Name: Age, Length: 3528, dtype: float64

In [215]:
X_train["Age"].str[0]

0       2
1       2
2       2
3       2
4       1
       ..
3595    2
3596    2
3597    2
3598    3
3599    2
Name: Age, Length: 3528, dtype: object

In [216]:
X_train["Age_gp"] = X_train["Age"].str[0]
X_test["Age_gp"] = X_test["Age"].str[0]

X_train = X_train.drop("Age", axis=1)
X_test = X_test.drop("Age", axis=1)

In [217]:
X_train.select_dtypes("object").nunique()

Nationality       129
Club              648
Preferred_Foot      2
Work_Rate           9
Position           27
Position_Class      4
Height             20
Age_gp              4
dtype: int64

In [218]:
X_train["Work_Rate"].value_counts()

Work_Rate
Medium/ Medium    1887
High/ Medium       644
Medium/ High       330
High/ High         210
Medium/ Low        168
High/ Low          120
Low/ High           94
Low/ Medium         72
Low/ Low             3
Name: count, dtype: int64

In [219]:
X_train = X_train.drop(columns="Club")
X_test = X_test.drop(columns="Club")

In [220]:
Work_Rate_train = X_train["Work_Rate"].copy()
Work_Rate_trian = Work_Rate_train.str.replace(" ", "")

X_train["WR_Attack"] = Work_Rate_train.str.split("/", expand=True)[0]
X_train["WR_Defend"] = Work_Rate_train.str.split("/", expand=True)[1]

X_train = X_train.drop(columns="Work_Rate")

In [221]:
Work_Rate_test = X_test["Work_Rate"].copy()
Work_Rate_test = Work_Rate_test.str.replace(" ", "")

X_test["WR_Attack"] = Work_Rate_test.str.split("/", expand=True)[0]
X_test["WR_Defend"] = Work_Rate_test.str.split("/", expand=True)[1]

X_test = X_test.drop(columns="Work_Rate")

In [222]:
X_test.select_dtypes(include="object").nunique()

Nationality       116
Preferred_Foot      2
Position           26
Position_Class      4
Height             18
Age_gp              4
WR_Attack           3
WR_Defend           3
dtype: int64

In [227]:
X_train = X_train.drop(columns="Jersey_Number")
X_test = X_test.drop(columns="Jersey_Number")

In [228]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3528 entries, 0 to 3599
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    3528 non-null   int64
 1   Nationality           3528 non-null   object
 2   Overall               3528 non-null   int64
 3   Preferred_Foot        3528 non-null   object
 4   Position              3528 non-null   object
 5   Position_Class        3528 non-null   object
 6   Contract_Valid_Until  3528 non-null   int64
 7   Height                3528 non-null   object
 8   Height_cm             3528 non-null   float64
 9   Weight_lb             3528 non-null   float64
 10  Release_Clause        3528 non-null   int64
 11  Wage                  3528 non-null   int64
 12  Age_gp                3528 non-null   object
 13  WR_Attack             3528 non-null   object
 14  WR_Defend             3528 non-null   object
dtypes: float64(2), int64(5), object(8)
memory usage: 570.0+ KB

In [229]:
X_train["CVU_gp"] = X_train["Contract_Valid_Until"].astype("object")
X_test["CVU_gp"] = X_test["Contract_Valid_Until"].astype("object")

X_train = X_train.drop(columns="Contract_Valid_Until")
X_test = X_test.drop(columns="Contract_Valid_Until")

In [234]:
cols = list(X_train.select_dtypes(exclude="object").columns)[1:]
X_train[cols].corr()

                 Overall  Height_cm  Weight_lb  Release_Clause      Wage
Overall         1.000000   0.033070   0.142888        0.630162  0.593469
Height_cm       0.033070   1.000000   0.763351       -0.007983 -0.001661
Weight_lb       0.142888   0.763351   1.000000        0.033941  0.053856
Release_Clause  0.630162  -0.007983   0.033941        1.000000  0.835107
Wage            0.593469  -0.001661   0.053856        0.835107  1.000000

In [235]:
X_train = X_train.drop(columns="Release_Clause")
X_test = X_test.drop(columns="Release_Clause")

In [236]:
from sklearn.model_selection import train_test_split 

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(
  X_train, 
  y_train, 
  test_size=0.3, 
  random_state=1234
)

print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(2469, 14)
(1059, 14)
(2469, 2)
(1059, 2)

In [237]:
from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes(include="object").copy()
X_VAL_category = X_VAL.select_dtypes(include="object").copy()
X_TEST_category = X_test.select_dtypes(include="object").copy()

In [238]:
from sklearn.preprocessing import StandardScaler 

colnm_conti = ['Overall', 'Height_cm', 'Weight_lb', 'Wage']
X_TRAIN_conti = X_TRAIN[colnm_conti].copy()
X_VAL_conti = X_VAL[colnm_conti].copy()
X_TEST_conti = X_test[colnm_conti].copy() 

scale = StandardScaler.fit(X_TRAIN_conti)

['Overall', 'Height_cm', 'Weight_lb', 'Release_Clause', 'Wage']