In [1]:
###### 연습문제1. 

import pandas as pd 
X_train = pd.read_csv("../data/연습문제/FIFA_X_train.csv", encoding="CP949")
X_test = pd.read_csv("../data/연습문제/FIFA_X_test.csv", encoding="CP949")
y_train = pd.read_csv("../data/연습문제/FIFA_y_train.csv", encoding="CP949")

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)

(3600, 16)
(2400, 16)
(3600, 2)

In [2]:
ID = X_test["ID"].copy() 

X_train = X_train.drop(columns="ID")
X_test = X_test.drop(columns="ID")
y_train = y_train.drop(columns="ID")

In [3]:
print(X_train.isnull().sum())
print(X_test.isnull().sum())

Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          758
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               292
Weight_lb                72
Release_Clause            0
Wage                      0
dtype: int64
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          509
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [4]:
X_train["Position_Class"].value_counts()
X_train["Position_Class"] = X_train["Position_Class"].fillna("unknown")

In [5]:
X_train["Position_Class"].value_counts()

Position_Class
Defender      1400
Midfielder     790
unknown        758
Forward        652
Name: count, dtype: int64

In [6]:
pd.crosstab(X_train["Position"], X_train["Position_Class"])

Position_Class  Defender  Forward  Midfielder  unknown
Position
CAM                    0        0         212        0
CB                   349        0           0        0
CDM                  178        0           0        0
CF                     0       12           0        0
CM                     0        0           0      295
GK                     0        0           0      391
LAM                    0        0           4        0
LB                   283        0           0        0
LCB                  136        0           0        0
LCM                    0        0          86        0
LDM                   48        0           0        0
LF                     0        0           0        3
LM                     0        0         208        0
LS                     0       42           0        0
LW                     0       71           0        0
LWB                   24        0           0        0
RAM                    0        0           5        0
RB                   263        0           0        0
RCB                  119        0           0        0
RCM                    0        0          65        0
RDM                    0        0           0       44
RF                     0        4           0        0
RM                     0        0         210        0
RS                     0       36           0        0
RW                     0       62           0        0
RWB                    0        0           0       25
ST                     0      425           0        0

In [7]:
# X_train["Position_Class"][X_train["Position"] == "LF"] = "Forward"
PC_train = X_train["Position_Class"].copy()
PC_train[X_train["Position"] == "LF"] = "Forward"
PC_train[X_train["Position"] == "CM"] = "Midfielder"
PC_train[X_train["Position"] == "GK"] = "GoalKeeper"
PC_train[X_train["Position"] == "RDM"] = "Defender"
PC_train[X_train["Position"] == "RWB"] = "Defender"

X_train.isnull().sum()
X_test.isnull().sum()

Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          509
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [8]:
PC_test = X_test["Position_Class"].copy()
PC_test[X_test["Position"] == "LF"] = "Forward"
PC_test[X_test["Position"] == "CM"] = "Midfielder"
PC_test[X_test["Position"] == "GK"] = "GoalKeeper"
PC_test[X_test["Position"] == "RDM"] = "Defender"
PC_test[X_test["Position"] == "RWB"] = "Defender"

In [9]:
## Position 필드 삭제 
X_train = X_train.drop(columns="Position")
X_test = X_test.drop(columns="Position")

In [10]:
X_test["Position_Class"] = PC_test
X_test.isnull().sum()

Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position_Class            0
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [11]:
Height_train = X_train["Height"].copy()
Height_cm_train = X_train["Height_cm"].copy()

split_str_train = Height_train.str.split("'", expand=True).astype("float64")
Height_cm_train.isnull().sum()
Height_cm_train = Height_cm_train.fillna(split_str_train[0] * 30 + split_str_train[1] * 2.5)
X_train["Height_cm"] = Height_cm_train

In [12]:
Height_test = X_test["Height"].copy()
Height_cm_test = X_test["Height_cm"].copy()

split_str_test = Height_test.str.split("'", expand=True).astype("float64")
Height_cm_test.isnull().sum()
Height_cm_test = Height_cm_train.fillna(split_str_test[0] * 30 + split_str_test[1] * 2.5)
X_test["Height_cm"] = Height_cm_test

In [13]:
## Height 컬럼 삭제 
X_train = X_train.drop(columns="Height")
X_test = X_test.drop(columns="Height")

In [14]:
## Weight_lb 결측치 제거 
# X_train 데이터를 제거하면 종속변수인 y_train도 같이 제거해야하 ㅁ

cond_na = X_train["Weight_lb"].isnull()

print(X_train.shape)
print(y_train.shape)

X_train = X_train[~cond_na]
y_train = y_train[~cond_na]

print(X_train.shape)
print(y_train.shape)

(3600, 13)
(3600, 1)
(3528, 13)
(3528, 1)

In [15]:
### 카테고리형 컬럼 전처리 
## nunique() 각 열에서 고유한 값의 갯수
## 카테고리형 데이터를 찾는 이유는 
## 머신러닝 알고리즘은 숫자 데이터 입력을 요구한다. 때문에 모델이 이해할 수 있는 형태로 입력

# 순서없는 카테고리 : One-Hot Encoding을 주로 사용합니다. 예를 들어, "빨강", "파랑", "노랑"은 순서가 없기 때문에 
# 이를 각각의 열로 나누고 0 또는 1로 표시합니다.

# 순서 있는 카테고리: Label Encoding 또는 다른 방법으로 순서가 있는 숫자 값으로 변환합니다. 예를 들어, 
# "초급", "중급", "고급"은 1, 2, 3으로 변환 가능.

print(X_train.select_dtypes("object").nunique())

Age                29
Nationality       129
Club              648
Preferred_Foot      2
Work_Rate           9
Position_Class      4
dtype: int64

In [16]:
X_train = X_train.drop(columns="Nationality")
X_test = X_test.drop(columns="Nationality")

In [17]:
## 나이의 일의 자리가 마스킹 처리가 되어 있따. 

# 10대, 20대, 30대 형태를 1, 2, 3으로 카테고리형 파생변수로 생성
X_train["Age_gp"] = X_train["Age"].str[0]
X_test["Age_gp"] = X_test["Age"].str[0]

X_train = X_train.drop("Age", axis=1)
X_test = X_test.drop("Age", axis=1)

In [18]:
### Club 컬럼은 
### 시장가치를 예측하는데에 필요하지 않은 것으로 가정하고 삭제 
X_train = X_train.drop(columns="Club")
X_test = X_test.drop(columns="Club")

In [19]:
### Preferred_Foot 선수가 주로 사용하는 발
### 유지

In [20]:
### 공격운동량/방어운동량을 의미 
### 공격운동량 컬럼과 방어운도량 컬럼을 각각 구분하여 Low, medium, high 로 생성

Work_Rate_train = X_train["Work_Rate"].copy()
Work_Rate_trian = Work_Rate_train.str.replace(" ", "")

X_train["WR_Attack"] = Work_Rate_train.str.split("/", expand=True)[0]
X_train["WR_Defend"] = Work_Rate_train.str.split("/", expand=True)[1]

X_train = X_train.drop(columns="Work_Rate")

In [21]:
Work_Rate_test = X_test["Work_Rate"].copy()
Work_Rate_test = Work_Rate_test.str.replace(" ", "")

X_test["WR_Attack"] = Work_Rate_test.str.split("/", expand=True)[0]
X_test["WR_Defend"] = Work_Rate_test.str.split("/", expand=True)[1]

X_test = X_test.drop(columns="Work_Rate")

In [22]:
### 수치형 컬럼 전처리
### 수치형 데이터의 값 범위 차이가 너무 크면 모델 학습에 문제를 일으킬 수 있다. 
### 스케일링(표준화, 정규화)

X_train.select_dtypes(exclude="object").columns

/Users/hyuniljo/Library/Python/3.12/lib/python/site-packages/IPython/core/inputtransformer2.py:627: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  tokens_by_line = make_tokens_by_line(lines)

Index(['Overall', 'Jersey_Number', 'Contract_Valid_Until', 'Height_cm',
       'Weight_lb', 'Release_Clause', 'Wage'],
      dtype='object')

In [23]:
### Jersey_Number 컬럼은 필요없다고 판단
X_train = X_train.drop(columns="Jersey_Number")
X_test = X_test.drop(columns="Jersey_Number")

In [24]:
### 여기서의 연도는 카테고리의 의미를 지니고 있기 때문에 
### 타입을 실수에서 오브젝트로 변환 

print(X_train["Contract_Valid_Until"].unique())

X_train["CVU_gp"] = X_train["Contract_Valid_Until"].astype("object")
X_test["CVU_gp"] = X_test["Contract_Valid_Until"].astype("object")

X_train = X_train.drop(columns="Contract_Valid_Until")
X_test = X_test.drop(columns="Contract_Valid_Until")

[2019 2020 2022 2021 2018 2023 2024 2025 2026]

In [25]:
### 연속형 데이터 변수의 상관관계 분석

cols = list(X_train.select_dtypes(exclude="object").columns)
X_train[cols].corr()

                 Overall  Height_cm  Weight_lb  Release_Clause      Wage
Overall         1.000000   0.033070   0.142888        0.630162  0.593469
Height_cm       0.033070   1.000000   0.763351       -0.007983 -0.001661
Weight_lb       0.142888   0.763351   1.000000        0.033941  0.053856
Release_Clause  0.630162  -0.007983   0.033941        1.000000  0.835107
Wage            0.593469  -0.001661   0.053856        0.835107  1.000000

In [26]:
### Realease_Clause와 wage 두 독립변수간의 강한 상관관계가 나타내므로 
### Realease_Clause 컬럼 삭제 
X_train = X_train.drop(columns="Release_Clause")
X_test = X_test.drop(columns="Release_Clause")

In [27]:
### 데이터분할 
## 모델을 만들기 위해서 X_train, y_train 데이터를 가지고 데이털르 분할 
## X_test는 학습시킨 모델을 가지고 우리가 구해야 할 값 

from sklearn.model_selection import train_test_split 

X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(
  X_train, 
  y_train, 
  test_size=0.3, 
  random_state=1234
)

print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(2469, 10)
(1059, 10)
(2469, 1)
(1059, 1)

In [28]:
### 스케일링 
## 카테고리 컬럼에 대하여 원핫 인코딩 수행 

from sklearn.preprocessing import OneHotEncoder

X_TRAIN_category = X_TRAIN.select_dtypes(include="object").copy()
X_VAL_category = X_VAL.select_dtypes(include="object").copy()
X_TEST_category = X_test.select_dtypes(include="object").copy()

# handle_unknown 훈련 시 보지 못한 새로운 카테고리 값이 나타났을 때 오류를 발생시키지 않고 무시합니다. 
# 해당 값에 대한 원-핫 인코딩 결과는 모두 0으로 처리

# sparse_output=False로 설정하면 밀집 행렬 형태의 NumPy 배열을 반환
# 모든 값을 저장한 일반적인 2D 배열 형태.
enc = OneHotEncoder(handle_unknown="ignore", sparse_output=False).fit(X_TRAIN_category)

# 훈련 데이터에서 학습된 카테고리와 그에 해당하는 인코딩 규칙을 검증 및 테스트 데이터에도 일관되게 적용해야 
# 모델이 각 카테고리 값을 동일한 방식으로 처리할 수 있습니다
X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

In [29]:
### 수치형 데이터 컬럼에 대히서 z-점수 표준화 수행

from sklearn.preprocessing import StandardScaler 

colnm_conti = ['Overall', 'Height_cm', 'Weight_lb', 'Wage']
X_TRAIN_conti = X_TRAIN[colnm_conti].copy()
X_VAL_conti = X_VAL[colnm_conti].copy()
X_TEST_conti = X_test[colnm_conti].copy() 

scale = StandardScaler().fit(X_TRAIN_conti)

X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

In [30]:
print(X_TRAIN_OH.shape)
print(X_TRAIN_STD.shape)

print(y_TRAIN.shape)
print(y_VAL.shape)

(2469, 23)
(2469, 4)
(2469, 1)
(1059, 1)

In [31]:
# 입력데이터셋 준비 
# 인코딩과 스케일링을 거친 데이터들을 하나의 훈련데이터로 결합 

import numpy as np 

X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis=1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis=1)

# ravel() 다차원 배열을 1차원 배열로 바꾸어, 머신러닝 모델이 예측 대상인 레이블을 처리하기 쉽도록 변환
# values는 Pandas의 데이터프레임이나 시리즈에서 데이터를 NumPy 배열로 추출하는 속성
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

print(y_TRAIN.shape)
print(y_VAL.shape)

(2469,)
(1059,)

In [32]:
### 모델학습
## 범주형데이터와 연속형데이터가 있는 데이터셋에서 사용할 수 있는 모델 

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor, AdaBoostRegressor 
from sklearn.metrics import root_mean_squared_error

In [33]:
### Random-forest

rf = RandomForestRegressor(
  n_estimators=500,
  max_depth=3, 
  min_samples_leaf=10, 
  random_state=2022
)
rf.fit(X_TRAIN, y_TRAIN)
pred_rf = rf.predict(X_VAL)


# rmse 검증

rmse = root_mean_squared_error(y_VAL, pred_rf)
print(rmse)

1502.4661127616116

In [34]:
### AdaBoost 
dtr = DecisionTreeRegressor(
  max_depth=3, 
  min_samples_leaf=10
)
ada = AdaBoostRegressor(
  estimator=dtr, 
  n_estimators=500, 
  learning_rate=0.5, 
  random_state=2022
)
ada.fit(X_TRAIN, y_TRAIN)
pred_ada = ada.predict(X_VAL)

# 검증
rmse = root_mean_squared_error(y_VAL, pred_ada)
print(rmse)

1715.3877113004723

In [35]:
### Bagging 
dtr = DecisionTreeRegressor(
  max_depth=3, 
  min_samples_leaf=10
)
bag = BaggingRegressor(
  estimator=dtr, 
  n_estimators=500, 
  random_state=2022
)
bag.fit(X_TRAIN, y_TRAIN)
pred_bag = bag.predict(X_VAL)

# 검증
rmse = root_mean_squared_error(y_VAL, pred_bag)
print(rmse)

1502.7485698613648

In [38]:
### 결과제출

X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis=1)
y_pred = rf.predict(X_TEST)

obj = {
  "id": ID, 
  "Value": y_pred
}

result = pd.DataFrame(obj)

result.to_csv("연습문제1.csv", index=False)