In [ ]:
import pandas as pd
import numpy as np

In [ ]:
obj = ["이유리", "최민준", "김민지"]
series_1 = pd.Series(obj)
print(series_1)

In [ ]:
series_1

In [ ]:
idx = ["A", "B", "C"]
series_2 = pd.Series(obj, index=idx)
print(series_2)

In [ ]:
obj = {"A": "이유리", "B": "최민준", "C": "김민지"}
series_3 = pd.Series(obj)
print(series_3)

In [ ]:
print(series_1.values)

In [ ]:
print(series_1.index)

In [ ]:
print(series_1.dtypes)
print(series_1.dtype)

In [ ]:
print(series_1.size)

In [ ]:
series_1.index = ["A", "B", "C"]

In [ ]:
print(series_1.index)

In [ ]:
obj = [1, 2, 3, 4, 5, 6]
idx = list("abcdef")
sr = pd.Series(obj, index=idx)
sr

In [ ]:
print(sr["e"])

In [ ]:
print(sr[1: 5])

In [ ]:
print(sr["b": "c"])

In [ ]:
idx = [0, 3, 4]
sr[idx]

In [ ]:
lbl = ["a", "d", "e"]

In [ ]:
sr[lbl]

In [ ]:
sr_1 = pd.Series(range(100))

In [ ]:
sr_1

In [ ]:
sr_1.describe

In [ ]:
sr_1.describe()

In [ ]:
sr_1.count()

In [ ]:
sr_1.mean()

In [ ]:
sr_1.var()

In [ ]:
sr_1.std()

In [ ]:
sr_1.min()

In [ ]:
sr_1.max()

In [ ]:
sr_1.median()

In [ ]:
sr_1.quantile()

In [ ]:
sr_1.quantile(q=0.25)

In [ ]:
sr_1.quantile(q=0.75)

In [ ]:
sr_2 = pd.Series(["a", "b", "b", "b", "c", "c", "d"])

In [ ]:
sr_2.describe()

In [ ]:
sr_2.unique()

In [ ]:
sr_2.value_counts()

In [ ]:
sr_2.mode()

In [ ]:
# 데이터프레임 

obj = {
  "name": ["Olivia", "Lucas", "Sophia", "Zoe", "Ava", "Elliot"], 
  "Sex": ["Female", "Male", "Female", "Female", "Female", "Male"], 
  "Age": [22, 32, 27, 18, 38, 19]
}
df = pd.DataFrame(obj)
df

In [ ]:
print(df.values)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.info

In [ ]:
df.info()

In [ ]:
df.head(1)

In [ ]:
df.head(2)

In [ ]:
df.head(-2)

In [ ]:
df.tail()

In [ ]:
df.head(6)

In [ ]:
obj = np.array([
  ["이유리", "경영학과", "여", 20],
  ["최민준", "컴퓨터공학과", "여", 20],
  ["김민지", "데이터과학과", "여", 20],
])

df_2 = pd.DataFrame(obj)
df_2

In [ ]:
df_3 = pd.DataFrame(
                    obj,
                    columns=["Name", "Major", "Sex", "Age"], 
                    index=["A", "B", "C"] 
                      )
df_3

In [ ]:
obj = {
  "name": ["Olivia", "Lucas", "Sophia", "Zoe", "Ava", "Elliot"], 
  "Sex": ["Female", "Male", "Female", "Female", "Female", "Male"], 
  "Age": [22, 32, 27, 18, 38, 19]
}
idx = list("abcdef")
df = pd.DataFrame(obj, index=idx)

In [ ]:
df

In [ ]:
df["name"]

In [ ]:
df.name

In [ ]:
colnm = ["name", "Age"]
df[colnm]

In [ ]:
df

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[1:5]

In [ ]:
df.iloc[:]

In [ ]:
df.iloc[[1, 3]]

In [ ]:
df.loc['b']

In [ ]:
df.loc["b", "c"]

In [ ]:

df.loc[["b", "d"]]

In [ ]:
df.loc["b": "d"]

In [ ]:
df["Age"]

In [ ]:
df

In [ ]:
df.loc["a"]["Age"]

In [ ]:
df["Age"].iloc[1]

In [ ]:
df.iloc[1:4, 2:3]

In [ ]:
df.loc["b", "name"]

In [87]:
obj = {
  "Name": ["Olivia", "Lucas", "Sophia", "Zoe", "Ava", "Elliot"], 
  "Sex": ["Female", "Male", "Female", "Female", "Female", "Male"], 
  "Age": [22, 32, 27, 18, 38, 19], 
  "Score": [100, 95, 60, 77, 83, 84]
}
df = pd.DataFrame(obj)
df.describe()

             Age       Score
count   6.000000    6.000000
mean   26.000000   83.166667
std     7.874008   14.133884
min    18.000000   60.000000
25%    19.750000   78.500000
50%    24.500000   83.500000
75%    30.750000   92.250000
max    38.000000  100.000000