In [ ]:
from sklearn.datasets import load_iris
iris = load_iris() 
iris

In [ ]:
import pandas as pd
data = pd.DataFrame(iris.data, columns=iris.feature_names)

In [ ]:
iris.feature_names

In [ ]:
iris.data

In [ ]:
data.insert(0, column="ID", value=range(150))

In [ ]:
data

In [ ]:
import pandas as pd
data = pd.DataFrame(iris.data, columns=iris.feature_names)

In [ ]:
data.head()

In [ ]:
data.insert(1, column="ID", value=range(150))

In [ ]:
data

In [ ]:
data.drop("ID", axis=1, inplace=True)
data

In [ ]:
data.insert(0, column="ID", value=range(150))

In [ ]:
pd.cut(data["sepal length (cm)"], bins=5)

In [ ]:
pd.cut(data["sepal length (cm)"], bins=[4, 5, 6, 7, 8])

In [ ]:
data2 = data.drop("ID", axis=1)

In [ ]:
data2

In [ ]:
data2.head()

In [ ]:
pd.qcut(data["sepal length (cm)"], q=4)

In [ ]:
data["sepal length (cm)"].quantile([.25, .5, .75])

In [ ]:
pd.qcut(data["sepal length (cm)"], q=10)

In [ ]:
data["sepal length (cm)"].quantile([0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1])

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris()
print(type(iris))

In [ ]:
iris

In [ ]:
import pandas as pd

data = pd.DataFrame(iris.data, columns=iris.feature_names)
display(data)

In [ ]:
data.info()

In [ ]:
data["ID"] = range(150)

In [ ]:
data.head()

In [ ]:
data["ID"].drop()

In [ ]:
data.drop("ID", axis=1)

In [ ]:
data

In [ ]:
data = data.drop("ID", axis=1)

In [ ]:
data

In [ ]:
data.insert(0, column="ID", value=range(150))
data.head()

In [ ]:
print(data["sepal length (cm)"].min())
print(data["sepal length (cm)"].max())
pd.cut(data["sepal length (cm)"], bins=5)

In [ ]:
pd.cut(data['sepal length (cm)'], bins=[4, 5, 6, 7, 8])

In [ ]:
pd.qcut(data["sepal length (cm)"], q=4)

In [ ]:
data["sepal length (cm)"].quantile([.25, .5, .75])

In [ ]:
pd.qcut(data["sepal length (cm)"], q=10)

In [ ]:
data["sepal length (cm)"].quantile([0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1])

In [58]:
from sklearn.datasets import load_iris 
iris = load_iris() 

data = pd.DataFrame(iris.data, columns=iris.feature_names)
data.insert(0, column="ID", value=range(150))
data

,ID,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0,5.1,3.5,1.4,0.2
1,1,4.9,3.0,1.4,0.2
2,2,4.7,3.2,1.3,0.2
3,3,4.6,3.1,1.5,0.2
4,4,5.0,3.6,1.4,0.2
...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3
146,146,6.3,2.5,5.0,1.9
147,147,6.5,3.0,5.2,2.0
148,148,6.2,3.4,5.4,2.3
149,149,5.9,3.0,5.1,1.8

In [66]:
display(data)
data2 = data.drop(1)
data2

,ID,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0,5.1,3.5,1.4,0.2
1,1,4.9,3.0,1.4,0.2
2,2,4.7,3.2,1.3,0.2
3,3,4.6,3.1,1.5,0.2
4,4,5.0,3.6,1.4,0.2
...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3
146,146,6.3,2.5,5.0,1.9
147,147,6.5,3.0,5.2,2.0
148,148,6.2,3.4,5.4,2.3
149,149,5.9,3.0,5.1,1.8

,ID,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0,5.1,3.5,1.4,0.2
2,2,4.7,3.2,1.3,0.2
3,3,4.6,3.1,1.5,0.2
4,4,5.0,3.6,1.4,0.2
5,5,5.4,3.9,1.7,0.4
...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3
146,146,6.3,2.5,5.0,1.9
147,147,6.5,3.0,5.2,2.0
148,148,6.2,3.4,5.4,2.3
149,149,5.9,3.0,5.1,1.8

In [69]:
display(data.head())
display(pd.cut(data["sepal length (cm)"], bins=5).head())

,ID,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0,5.1,3.5,1.4,0.2
1,1,4.9,3.0,1.4,0.2
2,2,4.7,3.2,1.3,0.2
3,3,4.6,3.1,1.5,0.2
4,4,5.0,3.6,1.4,0.2

0     (5.02, 5.74]
1    (4.296, 5.02]
2    (4.296, 5.02]
3    (4.296, 5.02]
4    (4.296, 5.02]
Name: sepal length (cm), dtype: category
Categories (5, interval[float64, right]): [(4.296, 5.02] < (5.02, 5.74] < (5.74, 6.46] < (6.46, 7.18] < (7.18, 7.9]]

In [73]:
pd.cut(data["sepal length (cm)"], bins=[0, 4, 5, 6, 7, 8])
print(data["sepal length (cm)"].min())
print(data["sepal length (cm)"].max())

4.3
7.9

In [78]:
q = pd.qcut(data["sepal length (cm)"], q=4)

In [81]:
print(data["sepal length (cm)"].quantile(0.25))
print(data["sepal length (cm)"].min())
data["q"] = q
data.head()
data.sort_values("sepal length (cm)")

5.1
4.3

,ID,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),q
13,13,4.3,3.0,1.1,0.1,"(4.2989999999999995, 5.1]"
42,42,4.4,3.2,1.3,0.2,"(4.2989999999999995, 5.1]"
38,38,4.4,3.0,1.3,0.2,"(4.2989999999999995, 5.1]"
8,8,4.4,2.9,1.4,0.2,"(4.2989999999999995, 5.1]"
41,41,4.5,2.3,1.3,0.3,"(4.2989999999999995, 5.1]"
...,...,...,...,...,...,...
122,122,7.7,2.8,6.7,2.0,"(6.4, 7.9]"
118,118,7.7,2.6,6.9,2.3,"(6.4, 7.9]"
117,117,7.7,3.8,6.7,2.2,"(6.4, 7.9]"
135,135,7.7,3.0,6.1,2.3,"(6.4, 7.9]"
131,131,7.9,3.8,6.4,2.0,"(6.4, 7.9]"

In [83]:
pd.qcut(data["sepal length (cm)"], q=12)

0                     (5.0, 5.1]
1                     (4.8, 5.0]
2      (4.2989999999999995, 4.8]
3      (4.2989999999999995, 4.8]
4                     (4.8, 5.0]
                 ...
145                   (6.4, 6.7]
146                   (6.0, 6.3]
147                   (6.4, 6.7]
148                   (6.0, 6.3]
149                   (5.8, 6.0]
Name: sepal length (cm), Length: 150, dtype: category
Categories (12, interval[float64, right]): [(4.2989999999999995, 4.8] < (4.8, 5.0] < (5.0, 5.1] < (5.1, 5.4] ... (6.3, 6.4] < (6.4, 6.7] < (6.7, 6.958] < (6.958, 7.9]]

In [84]:
data["sepal length (cm)"].quantile([0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1])

0.0    4.30
0.1    4.80
0.2    5.00
0.3    5.27
0.4    5.60
0.5    5.80
0.6    6.10
0.7    6.30
0.8    6.52
0.9    6.90
1.0    7.90
Name: sepal length (cm), dtype: float64