In [ ]:
import pandas as pd 
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler

In [ ]:
iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names)

In [ ]:
std_scale = StandardScaler()

In [ ]:
data_std = std_scale.fit_transform(data) 
data_std
# data_std = pd.DataFrame(data_std)

In [ ]:
data_std = pd.DataFrame(data_std, columns=iris.feature_names)

In [ ]:
data_std.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 
mm_scale = MinMaxScaler() 
data_std = mm_scale.fit_transform(data)
data_std

In [ ]:
data_std = pd.DataFrame(data_std, columns=iris.feature_names) 
data_std.head()

In [ ]:
import pandas as pd 
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 
display(data.head())

std_scale = StandardScaler() 

data_std = std_scale.fit_transform(data)

data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 
display(data.head())

mm_scale = MinMaxScaler() 

data_std = mm_scale.fit_transform(data)
data_std = pd.DataFrame(data_std, columns=iris.feature_names)
display(data_std.head())

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names)

std_scale = StandardScaler()
data_std = std_scale.fit_transform(data)

data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris 


iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names)

data_std_2 = (data - data.mean() ) / data.std(ddof=0)

data_std_2 = pd.DataFrame(data_std_2, columns=iris.feature_names)
data_std_2.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 

mm_scale = MinMaxScaler() 

data_std = mm_scale.fit_transform(data)
print(data_std)
data_std = pd.DataFrame(data_std, columns=iris.feature_names) 
data_std.head()

In [ ]:
iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 

data_std = (data - data.min()) / (data.max() - data.min())

data_std = pd.DataFrame(data_std, columns=iris.feature_names) 
data_std.head()

In [1]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler 
from sklearn.decomposition import PCA

In [ ]:
df = pd.read_csv("../../data/예제/USArrests_rownames.csv", index_col=0)


x = StandardScaler().fit_transform(df) 
print(x)


pca = PCA(n_components=4)
pca_arr = pca.fit_transform(x)


result = {
  "분산기여율": pca.explained_variance_ratio_, 
  "누적기여율": pca.explained_variance_ratio_.cumsum()
}
print(result)

result = pd.DataFrame(result, 
                      index=["PCA1", "PCA2", "PCA3", "PCA4"]).T

display(result)

In [ ]:
pca = PCA(n_components=2)
pca_arr = pca.fit_transform(x) 
df_pca = pd.DataFrame(pca_arr, columns=["PCA1", "PCA2"])
df_pca

In [41]:
import pandas as pd 
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 

std_scale = StandardScaler()

data_std = std_scale.fit_transform(data)
data_std = pd.DataFrame(data_std, columns=iris.feature_names) 
data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

In [42]:
import pandas as pd 
from sklearn.datasets import load_iris 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 

data_std = (data - data.mean()) / data.std()

data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -1.956602         -3.514384          -0.728819         -1.373438
1          -2.156602         -4.014384          -0.728819         -1.373438
2          -2.356602         -3.814384          -0.828819         -1.373438
3          -2.456602         -3.914384          -0.628819         -1.373438
4          -2.056602         -3.414384          -0.728819         -1.373438

In [44]:
import pandas as pd 
from sklearn.datasets import load_iris 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names) 

data_std = (data - data.mean()) / data.std(ddof=0)

data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444