In [ ]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler 
from sklearn.decomposition import PCA 

df = pd.read_csv("../data/예제/USArrests_rownames.csv", index_col=0)
df.head()

In [ ]:
x = StandardScaler().fit_transform(df)

In [ ]:
x

In [ ]:
pca = PCA(n_components=4)
pca_arr = pca.fit_transform(x)

In [ ]:
result = {"분산 기여율": pca.explained_variance_ratio_, 
          "누적 기여율": pca.explained_variance_ratio_.cumsum()}

In [ ]:
result = pd.DataFrame(result, index=["PCA1", "PCA2", "PCA3", "PCA4"])

In [ ]:
result

In [2]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

df = pd.read_csv("../data/예제/USArrests_rownames.csv", index_col=0)
display(df.head())

            Murder  Assault  UrbanPop  Rape
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

In [7]:
x = StandardScaler().fit_transform(df)

pca = PCA(n_components=4)

pca_arr = pca.fit_transform(x)

result = {
  "분산 기여율": pca.explained_variance_ratio_, 
  "누적 기여율": pca.explained_variance_ratio_.cumsum()
}

print(result)

result = pd.DataFrame(result, index=["PCA1", "PCA2", "PCA3", "PCA4"])
display(result)

{'분산 기여율': array([0.62006039, 0.24744129, 0.0891408 , 0.04335752]), '누적 기여율': array([0.62006039, 0.86750168, 0.95664248, 1.        ])}

        분산 기여율    누적 기여율
PCA1  0.620060  0.620060
PCA2  0.247441  0.867502
PCA3  0.089141  0.956642
PCA4  0.043358  1.000000

In [8]:
pca = PCA(n_components=2)
pca_arr = pca.fit_transform(x)
df_pca = pd.DataFrame(pca_arr, columns=["PCA1", "PCA2"])
df_pca

        PCA1      PCA2
0   0.985566 -1.133392
1   1.950138 -1.073213
2   1.763164  0.745957
3  -0.141420 -1.119797
4   2.523980  1.542934
5   1.514563  0.987555
6  -1.358647  1.088928
7   0.047709  0.325359
8   3.013042 -0.039229
9   1.639283 -1.278942
10 -0.912657  1.570460
11 -1.639800 -0.210973
12  1.378911  0.681841
13 -0.505461  0.151563
14 -2.253646  0.104054
15 -0.796881  0.270165
16 -0.750859 -0.958440
17  1.564818 -0.871055
18 -2.396829 -0.376392
19  1.763369 -0.427655
20 -0.486166  1.474496
21  2.108441  0.155397
22 -1.692682  0.632261
23  0.996494 -2.393796
24  0.696787  0.263355
25 -1.185452 -0.536874
26 -1.265637  0.193954
27  2.874395  0.775600
28 -2.383915  0.018082
29  0.181566  1.449506
30  1.980024 -0.142849
31  1.682577  0.823184
32  1.123379 -2.228003
33 -2.992226 -0.599119
34 -0.225965  0.742238
35 -0.311783  0.287854
36  0.059122  0.541411
37 -0.888416  0.571100
38 -0.863772  1.491978
39  1.320724 -1.933405
40 -1.987775 -0.823343
41  0.999742 -0.860251
42  1.355138  0.412481
43 -0.550565  1.471505
44 -2.801412 -1.402288
45 -0.096335 -0.199735
46 -0.216903  0.970124
47 -2.108585 -1.424847
48 -2.079714  0.611269
49 -0.629427 -0.321013

In [9]:
df

                Murder  Assault  UrbanPop  Rape
Alabama           13.2      236        58  21.2
Alaska            10.0      263        48  44.5
Arizona            8.1      294        80  31.0
Arkansas           8.8      190        50  19.5
California         9.0      276        91  40.6
Colorado           7.9      204        78  38.7
Connecticut        3.3      110        77  11.1
Delaware           5.9      238        72  15.8
Florida           15.4      335        80  31.9
Georgia           17.4      211        60  25.8
Hawaii             5.3       46        83  20.2
Idaho              2.6      120        54  14.2
Illinois          10.4      249        83  24.0
Indiana            7.2      113        65  21.0
Iowa               2.2       56        57  11.3
Kansas             6.0      115        66  18.0
Kentucky           9.7      109        52  16.3
Louisiana         15.4      249        66  22.2
Maine              2.1       83        51   7.8
Maryland          11.3      300        67  27.8
Massachusetts      4.4      149        85  16.3
Michigan          12.1      255        74  35.1
Minnesota          2.7       72        66  14.9
Mississippi       16.1      259        44  17.1
Missouri           9.0      178        70  28.2
Montana            6.0      109        53  16.4
Nebraska           4.3      102        62  16.5
Nevada            12.2      252        81  46.0
New Hampshire      2.1       57        56   9.5
New Jersey         7.4      159        89  18.8
New Mexico        11.4      285        70  32.1
New York          11.1      254        86  26.1
North Carolina    13.0      337        45  16.1
North Dakota       0.8       45        44   7.3
Ohio               7.3      120        75  21.4
Oklahoma           6.6      151        68  20.0
Oregon             4.9      159        67  29.3
Pennsylvania       6.3      106        72  14.9
Rhode Island       3.4      174        87   8.3
South Carolina    14.4      279        48  22.5
South Dakota       3.8       86        45  12.8
Tennessee         13.2      188        59  26.9
Texas             12.7      201        80  25.5
Utah               3.2      120        80  22.9
Vermont            2.2       48        32  11.2
Virginia           8.5      156        63  20.7
Washington         4.0      145        73  26.2
West Virginia      5.7       81        39   9.3
Wisconsin          2.6       53        66  10.8
Wyoming            6.8      161        60  15.6

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Alabama to Wyoming
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Murder    50 non-null     float64
 1   Assault   50 non-null     int64
 2   UrbanPop  50 non-null     int64
 3   Rape      50 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 2.0+ KB

In [11]:
df.isnull()

                Murder  Assault  UrbanPop   Rape
Alabama          False    False     False  False
Alaska           False    False     False  False
Arizona          False    False     False  False
Arkansas         False    False     False  False
California       False    False     False  False
Colorado         False    False     False  False
Connecticut      False    False     False  False
Delaware         False    False     False  False
Florida          False    False     False  False
Georgia          False    False     False  False
Hawaii           False    False     False  False
Idaho            False    False     False  False
Illinois         False    False     False  False
Indiana          False    False     False  False
Iowa             False    False     False  False
Kansas           False    False     False  False
Kentucky         False    False     False  False
Louisiana        False    False     False  False
Maine            False    False     False  False
Maryland         False    False     False  False
Massachusetts    False    False     False  False
Michigan         False    False     False  False
Minnesota        False    False     False  False
Mississippi      False    False     False  False
Missouri         False    False     False  False
Montana          False    False     False  False
Nebraska         False    False     False  False
Nevada           False    False     False  False
New Hampshire    False    False     False  False
New Jersey       False    False     False  False
New Mexico       False    False     False  False
New York         False    False     False  False
North Carolina   False    False     False  False
North Dakota     False    False     False  False
Ohio             False    False     False  False
Oklahoma         False    False     False  False
Oregon           False    False     False  False
Pennsylvania     False    False     False  False
Rhode Island     False    False     False  False
South Carolina   False    False     False  False
South Dakota     False    False     False  False
Tennessee        False    False     False  False
Texas            False    False     False  False
Utah             False    False     False  False
Vermont          False    False     False  False
Virginia         False    False     False  False
Washington       False    False     False  False
West Virginia    False    False     False  False
Wisconsin        False    False     False  False
Wyoming          False    False     False  False

In [12]:


df.isnull().sum()

Murder      0
Assault     0
UrbanPop    0
Rape        0
dtype: int64

In [13]:
df.describe()

         Murder     Assault   UrbanPop       Rape
count  50.00000   50.000000  50.000000  50.000000
mean    7.78800  170.760000  65.540000  21.232000
std     4.35551   83.337661  14.474763   9.366385
min     0.80000   45.000000  32.000000   7.300000
25%     4.07500  109.000000  54.500000  15.075000
50%     7.25000  159.000000  66.000000  20.100000
75%    11.25000  249.000000  77.750000  26.175000
max    17.40000  337.000000  91.000000  46.000000

In [14]:
df.head()

            Murder  Assault  UrbanPop  Rape
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

In [15]:
x = StandardScaler()
x = x.fit_transform(df)

array([[ 1.25517927,  0.79078716, -0.52619514, -0.00345116],
       [ 0.51301858,  1.11805959, -1.22406668,  2.50942392],
       [ 0.07236067,  1.49381682,  1.00912225,  1.05346626],
       [ 0.23470832,  0.23321191, -1.08449238, -0.18679398],
       [ 0.28109336,  1.2756352 ,  1.77678094,  2.08881393],
       [ 0.02597562,  0.40290872,  0.86954794,  1.88390137],
       [-1.04088037, -0.73648418,  0.79976079, -1.09272319],
       [-0.43787481,  0.81502956,  0.45082502, -0.58583422],
       [ 1.76541475,  1.99078607,  1.00912225,  1.1505301 ],
       [ 2.22926518,  0.48775713, -0.38662083,  0.49265293],
       [-0.57702994, -1.51224105,  1.21848371, -0.11129987],
       [-1.20322802, -0.61527217, -0.80534376, -0.75839217],
       [ 0.60578867,  0.94836277,  1.21848371,  0.29852525],
       [-0.13637203, -0.70012057, -0.03768506, -0.0250209 ],
       [-1.29599811, -1.39102904, -0.5959823 , -1.07115345],
       [-0.41468229, -0.67587817,  0.03210209, -0.34856705],
       [ 0.44344101, -0.74860538, -0.94491807, -0.53190987],
       [ 1.76541475,  0.94836277,  0.03210209,  0.10439756],
       [-1.31919063, -1.06375661, -1.01470522, -1.44862395],
       [ 0.81452136,  1.56654403,  0.10188925,  0.70835037],
       [-0.78576263, -0.26375734,  1.35805802, -0.53190987],
       [ 1.00006153,  1.02108998,  0.59039932,  1.49564599],
       [-1.1800355 , -1.19708982,  0.03210209, -0.68289807],
       [ 1.9277624 ,  1.06957478, -1.5032153 , -0.44563089],
       [ 0.28109336,  0.0877575 ,  0.31125071,  0.75148985],
       [-0.41468229, -0.74860538, -0.87513091, -0.521125  ],
       [-0.80895515, -0.83345379, -0.24704653, -0.51034012],
       [ 1.02325405,  0.98472638,  1.0789094 ,  2.671197  ],
       [-1.31919063, -1.37890783, -0.66576945, -1.26528114],
       [-0.08998698, -0.14254532,  1.63720664, -0.26228808],
       [ 0.83771388,  1.38472601,  0.31125071,  1.17209984],
       [ 0.76813632,  1.00896878,  1.42784517,  0.52500755],
       [ 1.20879423,  2.01502847, -1.43342815, -0.55347961],
       [-1.62069341, -1.52436225, -1.5032153 , -1.50254831],
       [-0.11317951, -0.61527217,  0.66018648,  0.01811858],
       [-0.27552716, -0.23951493,  0.1716764 , -0.13286962],
       [-0.66980002, -0.14254532,  0.10188925,  0.87012344],
       [-0.34510472, -0.78496898,  0.45082502, -0.68289807],
       [-1.01768785,  0.03927269,  1.49763233, -1.39469959],
       [ 1.53348953,  1.3119988 , -1.22406668,  0.13675217],
       [-0.92491776, -1.027393  , -1.43342815, -0.90938037],
       [ 1.25517927,  0.20896951, -0.45640799,  0.61128652],
       [ 1.13921666,  0.36654512,  1.00912225,  0.46029832],
       [-1.06407289, -0.61527217,  1.00912225,  0.17989166],
       [-1.29599811, -1.48799864, -2.34066115, -1.08193832],
       [ 0.16513075, -0.17890893, -0.17725937, -0.05737552],
       [-0.87853272, -0.31224214,  0.52061217,  0.53579242],
       [-0.48425985, -1.08799901, -1.85215107, -1.28685088],
       [-1.20322802, -1.42739264,  0.03210209, -1.1250778 ],
       [-0.22914211, -0.11830292, -0.38662083, -0.60740397]])

In [28]:
pca = PCA(n_components=4)

In [29]:
pca_arr = pca.fit_transform(x)

In [25]:
result = {
  "분산기여율": pca.explained_variance_ratio_, 
  "누적기여율": pca.explained_variance_ratio_.cumsum()
}

display(result)

{'분산기여율': array([0.62006039, 0.24744129, 0.0891408 ]),
 '누적기여율': array([0.62006039, 0.86750168, 0.95664248])}