In [10]:
import pandas as pd 
exam1 = pd.read_csv("../data/연습문제/Cars93.csv")

display(exam1.head())

Wheelbase = exam1["Wheelbase"]
Wheelbase_avg = Wheelbase.mean()
Wheelbase_sd = Wheelbase.std()

# Case1
Low_1 = Wheelbase_avg - 1.5 * Wheelbase_sd
Upp_1 = Wheelbase_avg + 1.5 * Wheelbase_sd 

Avg_1 = Wheelbase[(Wheelbase > Low_1) & (Wheelbase < Upp_1)].mean() 

Case1 = Wheelbase_avg - Avg_1
print(Case1)

# Case2
Low_2 = Wheelbase_avg - 2 * Wheelbase_sd
Upp_2 = Wheelbase_avg + 2 * Wheelbase_sd

Avg_2 = Wheelbase[(Wheelbase > Low_2) & (Wheelbase < Upp_2)].mean()

Case2 = Wheelbase_avg - Avg_2 
print(Case2)

# Case3 
Low_3 = Wheelbase_avg - 2.5 * Wheelbase_sd
Upp_3 = Wheelbase_avg + 2.5 * Wheelbase_sd

Avg_3 = Wheelbase[(Wheelbase > Low_3) & (Wheelbase < Upp_3)].mean()

Case3 = Wheelbase_avg - Avg_3 
print(Case3)

# result 
result = round(Case1 + Case2 + Case3, 4)
print(result)

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

0.29512966476913505
0.17813620071683545
0.011225333805981563
0.4845

In [24]:
# Length 컬럼에 대해서 순위를 부여 1 ~ 30위

import pandas as pd 
exam2 = pd.read_csv("../data/연습문제/Cars93.csv")


exam2.sort_values("Length", ascending=False, inplace=True)
rank = exam2["Length"].rank(method="average")
sub = exam2["Length"][rank <= 30]

sub_sd = sub.std()

result = round(sub_sd, 3)

print(result)

8.884

In [29]:
# 3
import pandas as pd
exam3 = pd.read_csv("../data/연습문제/Cars93.csv")

exam3.head()
MaxPrice_sort = exam3["Max_Price"].sort_values(ascending=False, ignore_index=True)
MinPrice_sort = exam3["Min_Price"].sort_values(ignore_index=True) 

diff = MaxPrice_sort - MinPrice_sort
print(diff)

diff_std = diff.std()
print(diff_std)

result = round(diff_std, 3)
print(result)

0     73.3
1     43.6
2     37.7
3     35.4
4     34.2
      ...
88   -25.1
89   -25.2
90   -28.3
91   -34.7
92   -37.5
Length: 93, dtype: float64
18.584087043963095
18.584

In [67]:
#4. 

import pandas as pd
from sklearn.preprocessing import MinMaxScaler 
exam4 = pd.read_csv("../data/연습문제/Cars93.csv")

Weight = exam4["Weight"] 
Weight_std = (Weight - min(Weight)) / (max(Weight) - min(Weight))
# display(Weight_std.head())


mm_scale = MinMaxScaler() 
data_std = mm_scale.fit_transform(exam4[["Weight"]])
data_std = pd.DataFrame(data_std)
# display(data_std.head())

var_under = Weight_std[Weight_std < 0.5].var()
var_over = Weight_std[Weight_std > 0.5].var() 

diff = abs(var_over - var_under)

print(round(diff, 3))

0.001

In [73]:
# 5. 

import pandas as pd 
exam5 = pd.read_csv("../data/연습문제/Cars93.csv")

uniq_raw = exam5[["Manufacturer", "Origin"]].drop_duplicates()
num_uniq_raw = uniq_raw.shape[0]

exam5["sub_str"] = exam5["Manufacturer"].str[:2]
uniq_new = exam5[["sub_str", "Origin"]].drop_duplicates()
num_uniq_new = uniq_new.shape[0]

result = num_uniq_raw - num_uniq_new

print(result)

4

In [88]:
#6. 

exam6 = pd.read_csv("../data/연습문제/Cars93.csv")
# print(exam6.info())

count_RPM = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].count()
sum_RPM = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].sum()
median_RPM = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].median()
# print(count_RPM)
# print(sum_RPM)
# print(median_RPM)

cal = sum(median_RPM - sum_RPM / count_RPM)
# print(cal)

result = round(cal, 0)

result

442.0

In [100]:
#7. 

exam7 = pd.read_csv("../data/연습문제/Cars93.csv")

avg = exam7['RPM'].mean()
exam7["RPM"] = exam7["RPM"].fillna(avg)

RPM_std = (exam7["RPM"] - exam7["RPM"].mean()) / exam7["RPM"].std()
Wheelbase_std = (exam7["Wheelbase"] - exam7["Wheelbase"].mean()) / exam7["Wheelbase"].std()

diff = Wheelbase_std * (-36) - RPM_std 

diff_sd = diff.std()

result = round(diff_sd, 3)

print(result)

35.561

In [102]:
# 8 

exam8 = pd.read_csv("../data/연습문제/Cars93.csv")

df_case1 = exam8.copy() 
df_case2 = exam8.copy()

avg = df_case1["Price"].mean() 
df_case1["Price"] = df_case1["Price"].fillna(avg)

avg_MaxMin = df_case1[["Max_Price", "Min_Price"]].mean(axis=1)
sub_df_case1 = df_case1[df_case1["Price"] < avg_MaxMin]
sum_case1 = sub_df_case1.groupby("Origin")["Price"].sum()

In [23]:
import pandas as pd 

exam1 = pd.read_csv("../../data/연습문제/Cars93.csv")
# pd.set_option('display.max_columns', None)

wheelbase = exam1['Wheelbase']
wheelbase_avg = exam1['Wheelbase'].mean()
wheelbase_std = exam1["Wheelbase"].std()

def deduct_wheelbase(num):
  low_1 = wheelbase_avg - num * wheelbase_std
  upp_1 = wheelbase_avg + num * wheelbase_std

  cond1 = (wheelbase > low_1) & (wheelbase < upp_1)
  avg_1 = wheelbase[cond1].mean()
  return wheelbase_avg - avg_1

a = deduct_wheelbase(1.5)
b = deduct_wheelbase(2)
c = deduct_wheelbase(2.5)

result = round(a + b + c, 4)
print(result)

0.4845

In [31]:
import pandas as pd 
exam2 = pd.read_csv("../../data/연습문제/Cars93.csv")

rank = exam2["Length"].rank(method="average")
sub = exam2["Length"][rank <= 30]

sub_std = sub.std()
result = round(sub_std, 3)
print(result)

8.884

In [51]:
import pandas as pd 
exam3 = pd.read_csv("../../data/연습문제/Cars93.csv")


max_price = exam3["Max_Price"].sort_values(ascending=False, ignore_index=True)
min_price = exam3["Min_Price"].sort_values(ascending=True, ignore_index=True)

max_price2 = exam3["Max_Price"].sort_values(ascending=False)
min_price2 = exam3["Min_Price"].sort_values(ascending=True)

round((max_price - min_price).std(), 3)



exam3["max_custom"] = max_price
exam3["min_custom"] = min_price

exam3["max_custom2"] = max_price2
exam3["min_custom2"] = min_price2


exam3[["max_custom", "min_custom", "max_custom2", "min_custom2"]]

    max_custom  min_custom  max_custom2  min_custom2
0         80.0         6.7         18.8         12.9
1         50.4         6.8         38.7         29.2
2         44.6         6.9         32.3         25.9
3         42.7         7.3         44.6         30.8
4         41.5         7.3         36.2         23.7
..         ...         ...          ...          ...
88         9.5        34.6         22.7         16.6
89         9.5        34.7         22.4         17.6
90         9.2        37.5         23.7         22.9
91         9.1        43.8         23.5         21.8
92         7.9        45.4         28.5         24.8

[93 rows x 4 columns]

In [61]:
import pandas as pd 
exam4 = pd.read_csv("../../data/연습문제/Cars93.csv")

weight = exam4["Weight"]
weight_standard = (weight - min(weight)) / (max(weight) - min(weight))

upper_condition = weight_standard > 0.5 
under_condition = weight_standard < 0.5

var_upper = weight_standard[upper_condition].var()
var_under = weight_standard[under_condition].var()

print(var_upper)
print(var_under)

diff = var_under - var_upper

result = round(diff, 3)

print(result)

0.007002313404854486
0.007551738240220801
0.001

In [80]:
import pandas as pd 
exam5 = pd.read_csv("../../data/연습문제/Cars93.csv")

manufa = exam5["Manufacturer"]
origin = exam5["Origin"]

uniq_raw = exam5[["Manufacturer", "Origin"]].drop_duplicates()
num_uniq_raw = uniq_raw.shape
print(num_uniq_raw)

# uniq_raw = exam5[["Manufacturer", "Origin"]].nunique()
exam5["sub_str"] = exam5["Manufacturer"].str[:2]

uniq_new = exam5[["sub_str", "Origin"]].drop_duplicates()
print(uniq_new.shape)

num_uniq_new = uniq_new.shape[0]

(32, 2)
(28, 2)

In [87]:
import pandas as pd 
exam6 = pd.read_csv("../../data/연습문제/Cars93.csv")

count_RPM_gp = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].count()
sum_RPM_gp = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].sum()
median_RPM_gp = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].median()

calcul = sum(median_RPM_gp - sum_RPM_gp / count_RPM_gp)

result = round(calcul, 0)

print(result)

442.0

In [101]:
import pandas as pd 
exam7 = pd.read_csv("../../data/연습문제/Cars93.csv")


avg = exam7["RPM"].mean()
print(exam7["RPM"].isnull().sum())
exam7["RPM"] = exam7["RPM"].fillna(avg)
print(exam7["RPM"].isnull().sum())


def std(column): 
  return (exam7[column] - exam7[column].mean()) / exam7[column].std()

RPM_std = std("RPM")
Wheelbase_std = std("Wheelbase")

diff = Wheelbase_std * (-36) - RPM_std
diff_std = diff.std() 

result = round(diff_std, 3)
print(result)

4
0
35.561

In [128]:

import pandas as pd 
import math

exam8 = pd.read_csv("../../data/연습문제/Cars93.csv")

df_case1 = exam8.copy()
df_case2 = exam8.copy()

# 1.

avg = df_case1["Price"].mean()
df_case1["Price"] = df_case1["Price"].fillna(avg)
# exam8["Price"].isnull().sum()

avg_cond = df_case1[["Max_Price", "Min_Price"]].mean(axis=1)
sub_df_case1 = df_case1[exam8["Price"] < avg_cond]

sum_case1 = sub_df_case1.groupby("Origin")["Price"].sum()


# 2. 

med = df_case2["Price"].median()
df_case2["Price"] = df_case2["Price"].fillna(med)
q3 = df_case2["Min_Price"].quantile(0.75)
sub_df_case2 = df_case2[df_case2["Price"] < q3]

sum_case2 = sub_df_case2.groupby("Origin")["Price"].sum()

max_value = sum_case1 + sum_case2
result = max(sum_case1 + sum_case2)

print(sum_case1)
print(sum_case2)
print(max_value)
print(math.floor(result))
print(round(result))

Origin
USA        181.9
non-USA    224.5
Name: Price, dtype: float64
Origin
USA        579.70
non-USA    424.35
Name: Price, dtype: float64
Origin
USA        761.60
non-USA    648.85
Name: Price, dtype: float64
761
762

In [136]:
import pandas as pd
exam9 = pd.read_csv("../../data/연습문제/Cars93.csv")

Price = exam9["Price"].copy() 
Max_Price = exam9["Max_Price"].copy()
Min_Price = exam9["Min_Price"].copy()
Type = exam9["Type"].copy() 

cond_na = Price.isnull() 

Price[cond_na] = (Max_Price[cond_na] + Min_Price[cond_na]) / 2

cond1 = (Price < 14.7) 
cond2 = (Price > 25.3) & (Type == "Large")
cond = cond1 | cond2
result = exam9[cond].shape
print(result[0])

35

In [147]:
import pandas as pd
exam10 = pd.read_csv("../../data/연습문제/Cars93.csv")

Make = exam10["Make"].copy()
AirBags = exam10["AirBags"].copy() 



Make = Make.str.strip()

cond_1 = Make.str.startswith(("Chevrolet", "Pontiac", "Hyundai"))

cond_2 = (AirBags == "Driver only")

sum(cond_1 & cond_2)

3

In [149]:
import pandas as pd
exam11 = pd.read_csv("../../data/연습문제/Rabbit.csv")

q3 = exam11["Dose"].quantile(0.75)
q2 = exam11["Dose"].quantile()

diff = abs(q3 - q2)

diff.astype(int)

62

In [163]:
import pandas as pd
exam12 = pd.read_csv("../../data/연습문제/Boston.csv")

medv_cut = pd.cut(exam12["medv"], bins=[0, 10, 20, 30, 40, 50])
mode = medv_cut.value_counts().idxmax()
cond = (medv_cut == mode)

median = exam12["dis"][cond].median()

result = round(median, 2)
print(result)

3.95

In [180]:
import pandas as pd
exam13 = pd.read_csv("../../data/연습문제/Melanoma.csv")

df1 = exam13.iloc[:123]
df2 = exam13.iloc[123:]

avg = df1["thickness"].mean()
sd = df1["thickness"].std()

std1 = ((df1["thickness"] - avg) / sd)
std2 = ((df2["thickness"] - avg) / sd)




sub_std1 = std1[(std1 >= -1) & (std1 <=1)]
sub_std2 = std2[(std2 >= -1) & (std2 <=1)]

med1 = sub_std1.median()
med2 = sub_std2.median()

result = round(med1 + med2, 4)
print(result)

-1.0027

In [10]:
import pandas as pd 
exam8 = pd.read_csv("../../data/연습문제/Cars93.csv")

case1 = exam8.copy() 
case2 = exam8.copy() 

avg = case1["Price"].mean() 
case1["Price"] = case1["Price"].fillna(avg)

avg_max_min = case1[["Max_Price", "Min_Price"]].mean(axis=1)
sub_case1 = case1[case1["Price"] < avg_max_min]
sum_case1 = sub_case1.groupby("Origin")["Price"].sum()

med = case2["Price"].median()
case2["Price"] = case2["Price"].fillna(med)
q3 = case2["Min_Price"].quantile(.75)
sub_case2 = case2[case2["Price"] < q3]
sum_case2 = sub_case2.groupby("Origin")["Price"].sum() 

# print(sum_case1)
# print(sum_case2)
# print(sum_case1 + sum_case2)

max_value = max(sum_case1 + sum_case2)

max_value

print(int(max_value))

import math 
print(math.floor(max_value))

import numpy as np
print(np.floor(max_value))

856
856
856.0

In [39]:
import pandas as pd 
exam9 = pd.read_csv("../../data/연습문제/Cars93.csv")


Max_Price = exam9["Max_Price"].copy() 
Min_Price = exam9["Min_Price"].copy() 

cond_na = exam9["Price"].isnull()

num_avg = (Max_Price[cond_na] + Min_Price[cond_na]) / 2 

exam9["Price"].fillna(num_avg)

0     15.90
1     33.90
2     29.10
3     37.70
4     29.95
      ...
88    19.70
89    20.00
90    23.30
91    22.70
92    26.70
Name: Price, Length: 93, dtype: float64