In [10]:
import pandas as pd 
exam1 = pd.read_csv("../data/연습문제/Cars93.csv")

display(exam1.head())

Wheelbase = exam1["Wheelbase"]
Wheelbase_avg = Wheelbase.mean()
Wheelbase_sd = Wheelbase.std()

# Case1
Low_1 = Wheelbase_avg - 1.5 * Wheelbase_sd
Upp_1 = Wheelbase_avg + 1.5 * Wheelbase_sd 

Avg_1 = Wheelbase[(Wheelbase > Low_1) & (Wheelbase < Upp_1)].mean() 

Case1 = Wheelbase_avg - Avg_1
print(Case1)

# Case2
Low_2 = Wheelbase_avg - 2 * Wheelbase_sd
Upp_2 = Wheelbase_avg + 2 * Wheelbase_sd

Avg_2 = Wheelbase[(Wheelbase > Low_2) & (Wheelbase < Upp_2)].mean()

Case2 = Wheelbase_avg - Avg_2 
print(Case2)

# Case3 
Low_3 = Wheelbase_avg - 2.5 * Wheelbase_sd
Upp_3 = Wheelbase_avg + 2.5 * Wheelbase_sd

Avg_3 = Wheelbase[(Wheelbase > Low_3) & (Wheelbase < Upp_3)].mean()

Case3 = Wheelbase_avg - Avg_3 
print(Case3)

# result 
result = round(Case1 + Case2 + Case3, 4)
print(result)

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

0.29512966476913505
0.17813620071683545
0.011225333805981563
0.4845

In [24]:
# Length 컬럼에 대해서 순위를 부여 1 ~ 30위

import pandas as pd 
exam2 = pd.read_csv("../data/연습문제/Cars93.csv")


exam2.sort_values("Length", ascending=False, inplace=True)
rank = exam2["Length"].rank(method="average")
sub = exam2["Length"][rank <= 30]

sub_sd = sub.std()

result = round(sub_sd, 3)

print(result)

8.884

In [29]:
# 3
import pandas as pd
exam3 = pd.read_csv("../data/연습문제/Cars93.csv")

exam3.head()
MaxPrice_sort = exam3["Max_Price"].sort_values(ascending=False, ignore_index=True)
MinPrice_sort = exam3["Min_Price"].sort_values(ignore_index=True) 

diff = MaxPrice_sort - MinPrice_sort
print(diff)

diff_std = diff.std()
print(diff_std)

result = round(diff_std, 3)
print(result)

0     73.3
1     43.6
2     37.7
3     35.4
4     34.2
      ...
88   -25.1
89   -25.2
90   -28.3
91   -34.7
92   -37.5
Length: 93, dtype: float64
18.584087043963095
18.584

In [67]:
#4. 

import pandas as pd
from sklearn.preprocessing import MinMaxScaler 
exam4 = pd.read_csv("../data/연습문제/Cars93.csv")

Weight = exam4["Weight"] 
Weight_std = (Weight - min(Weight)) / (max(Weight) - min(Weight))
# display(Weight_std.head())


mm_scale = MinMaxScaler() 
data_std = mm_scale.fit_transform(exam4[["Weight"]])
data_std = pd.DataFrame(data_std)
# display(data_std.head())

var_under = Weight_std[Weight_std < 0.5].var()
var_over = Weight_std[Weight_std > 0.5].var() 

diff = abs(var_over - var_under)

print(round(diff, 3))

0.001

In [73]:
# 5. 

import pandas as pd 
exam5 = pd.read_csv("../data/연습문제/Cars93.csv")

uniq_raw = exam5[["Manufacturer", "Origin"]].drop_duplicates()
num_uniq_raw = uniq_raw.shape[0]

exam5["sub_str"] = exam5["Manufacturer"].str[:2]
uniq_new = exam5[["sub_str", "Origin"]].drop_duplicates()
num_uniq_new = uniq_new.shape[0]

result = num_uniq_raw - num_uniq_new

print(result)

4

In [88]:
#6. 

exam6 = pd.read_csv("../data/연습문제/Cars93.csv")
# print(exam6.info())

count_RPM = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].count()
sum_RPM = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].sum()
median_RPM = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].median()
# print(count_RPM)
# print(sum_RPM)
# print(median_RPM)

cal = sum(median_RPM - sum_RPM / count_RPM)
# print(cal)

result = round(cal, 0)

result

442.0

In [100]:
#7. 

exam7 = pd.read_csv("../data/연습문제/Cars93.csv")

avg = exam7['RPM'].mean()
exam7["RPM"] = exam7["RPM"].fillna(avg)

RPM_std = (exam7["RPM"] - exam7["RPM"].mean()) / exam7["RPM"].std()
Wheelbase_std = (exam7["Wheelbase"] - exam7["Wheelbase"].mean()) / exam7["Wheelbase"].std()

diff = Wheelbase_std * (-36) - RPM_std 

diff_sd = diff.std()

result = round(diff_sd, 3)

print(result)

35.561

In [102]:
# 8 

exam8 = pd.read_csv("../data/연습문제/Cars93.csv")

df_case1 = exam8.copy() 
df_case2 = exam8.copy()

avg = df_case1["Price"].mean() 
df_case1["Price"] = df_case1["Price"].fillna(avg)

avg_MaxMin = df_case1[["Max_Price", "Min_Price"]].mean(axis=1)
sub_df_case1 = df_case1[df_case1["Price"] < avg_MaxMin]
sum_case1 = sub_df_case1.groupby("Origin")["Price"].sum()